<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--link rel="icon" href="images/favicon.ico" /-->
    <title>Agony Credit Card</title>
    <!--meta
      name="description"
      content="."
    /-->
    <meta property="og:title" content="Agony Credit Card" />
    <meta property="og:type" content="article" />
    <!--meta
      property="og:description"
      content="."
    /-->
    <link href="reset.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="vue.js"></script>
    <script src="stuff.js" defer></script>
  </head>
  <body>
    <main id="app">
      <section id="text">{{ text }}</section>
      <section id="chat">
        <h2>Chat with our staff!</h2>
        <div v-for="message in visibleChatMessages">
          <span :class="['username', { staff: message.source == 'staff', user: message.source == 'user' }]">{{ message.source }}</span>:
          {{ message.text }}
        </div>
        <input type="text" id="chat-box" v-model="userText" @keyup.enter="enterMessage">
        <button id="button-send" @click="enterMessage">SEND</button>
        <button id="button-close-chat" @click="tryToCloseChat">x</button>
      </section>
    </main>
  </body>
</html>
